## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

Targets vs Features:

*   IS_SUCCESSFUL - Target
*   Remaining Columns - Features

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df.APPLICATION_TYPE.value_counts(sort=False)
#sort = False to keep the unique types in the same order
app_counts

T10      528
T3     27037
T5      1173
T7       725
T4      1542
T6      1216
T2        16
T9       156
T19     1065
T8       737
T13       66
T12       27
T29        2
T25        3
T14        3
T17        1
T15        2
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
unique_apps = application_df.APPLICATION_TYPE.unique()
# grabbing a list of the application type values for those counts
unique_apps

array(['T10', 'T3', 'T5', 'T7', 'T4', 'T6', 'T2', 'T9', 'T19', 'T8',
       'T13', 'T12', 'T29', 'T25', 'T14', 'T17', 'T15'], dtype=object)

In [ ]:
# Choose a cutoff value of 200 and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
[application_types_to_replace = []
for i in range(len(unique_apps)):]
  if app_counts[i] <200:
    application_types_to_replace.append(unique_apps[i])
  else:
    pass
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts(sort=False)
#sort = False to keep the unique types in the same order
class_counts

C1000    17326
C2000     6074
C3000     1918
C1200     4837
C2700      104
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
unique_class = application_df.CLASSIFICATION.unique()
# grabbing a list of the application type values for those counts
unique_class

array(['C1000', 'C2000', 'C3000', 'C1200', 'C2700', 'C7000', 'C7200',
       'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C2100', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150'], dtype=object)

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_over_1 = [count for count in class_counts if count>1]
class_counts_over_1

[17326,
 6074,
 1918,
 4837,
 104,
 777,
 32,
 287,
 194,
 75,
 95,
 15,
 1883,
 10,
 116,
 18,
 15,
 6,
 34,
 114,
 32,
 11,
 16,
 7,
 58,
 36,
 50,
 30,
 3,
 14,
 20,
 3,
 9,
 6,
 5,
 6,
 5,
 10,
 9,
 2,
 2,
 2,
 2,
 3,
 2]

In [ ]:
# Choose a cutoff value of 800 and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for i in range(len(unique_class)):
  if class_counts[i] <800:
    classifications_to_replace.append(unique_class[i])
  else:
    pass
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Look at ASK AMT value counts to see if there is a use for binning
ask_counts = application_df.ASK_AMT.value_counts(sort=True)
ask_counts
# no need for binning, not many of each besides 5000

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummied_df = pd.get_dummies(application_df)
categorical_cols = dummied_df.columns
# looking at the new column names
categorical_cols

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [ ]:
dummied_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
X = dummied_df.drop(columns=['IS_SUCCESSFUL'])
y = dummied_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 60)                2640

 dense_1 (Dense)             (None, 15)                915

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 3,571
Trainable params: 3,571
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [ ]:
# Train the model
trained_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 3ms/step - loss: 0.5762 - accuracy: 0.7172
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5566 - accuracy: 0.7306
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5530 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5515 - accuracy: 0.7325
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5499 - accuracy: 0.7330
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7325
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7345
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7355
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7359
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7351
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7349
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7364
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7353
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7354
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7366
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7365
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7374
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7371
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7376
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7368
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7364
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7367
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7374
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7367
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7384
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7379
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7379
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7386
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7385
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7381
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7383
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7386
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7386
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7379
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7388
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7379
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7383
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7382
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7393
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7384
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7382
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7387
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7383
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7388
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7387
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7388
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7392
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7387
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7397
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7378
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7398
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7390
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7393
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7393
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7402
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7400
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7393
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7399
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7391
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7397
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7397
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7390
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7392
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7393
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7388
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7394
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7385
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7395
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7394
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7403
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7405
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7399
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7398
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7399
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7403
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7400
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7400
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7397

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5535 - accuracy: 0.7266 - 335ms/epoch - 1ms/step
Loss: 0.5534768104553223, Accuracy: 0.7266472578048706

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')